language: android
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    # - tools
    # - platform-tools

    # The BuildTools version used by your project
    - build-tools-26.0.2

    # The SDK version used to compile your project
    - android-23

    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - addon-google_apis-google-26


    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    - sys-img-x86-android-23



# Emulator Management: Create, Start and Wait
before_script:
   - android list target
   - echo no | android create avd --force -n test -t android-22 --abi x86
   - emulator -avd test -no-audio -no-window &
   - android-wait-for-emulator
   - adb shell input keyevent 82 &

script:
  - android list target
  - ./gradlew connectedAndroidTest